<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>frame</title>
        <style>

            .container {
                display: flex;
                align-items: flex-start;
            }
            .fixed {
                flex: 0 0 90px;
                background-color: #a52a2a;
            }

            .unfixed {
                flex: 1 1 50px;
                background-color: #deb887;
            }
        </style>
    </head>

    <body>
        <div class="container">

            <div class="unfixed">
                自适应宽度的左边输入框适应宽度的左边输入框
                适应宽度的左边输入框适应宽度的左边输入框适
                应宽度的左边输入框适应宽度的左边输入框适应
                宽度的左边输入框适应宽度的左边输入框适应宽
                度的左边输入框适应宽度的左边输入框
            </div>

            <div class="fixed">
                固定的右边导航栏
            </div>
        </div>
    </body>

</html>